@model inventorySystem.Models.tbl_product

@{
    ViewBag.Title = "ViewProduct";
}

<h2>View Product </h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Product Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proName)
        </dd>

        <dt>
            @Html.DisplayName("Product Quantity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proQty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateProduct", "Product", new { id = Model.proID },new { @class="btn btn-primary"}) |
    @Html.ActionLink("Cancel", "DisplayProduct", "Product", new { @class="btn btn-danger"})
</p>
